<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>at.ac.tuwien.infosys.aic13.controller.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>at.ac.tuwien.infosys.aic13.controller.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessQueryServlet</servlet-name>
        <servlet-class>at.ac.tuwien.infosys.aic13.controller.ProcessQueryServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/q/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessQueryServlet</servlet-name>
        <url-pattern>/processquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/c</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
